<div th:replace="public/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div class="pcoded-content" style="padding: 10px;" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="card m-50">
        <div class="card-block table-border-style mb-5">
            <div>
                <table class="table table-striped" style="width:100%" id="list_users_admin">
                    <thead>
                    <tr>
                        <th class="text-center">E-mail</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Chave</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th class="text-center">E-mail</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Chave</th>
                        <th class="text-center"></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td class="text-center">
                            <a th:href="@{/portal/admin/users/config/{id}(id=${user.getID})}"
                               th:text="${user.getEmail}">
                            </a>
                        </td>
                        <td class="text-center" th:text="${user.getFirstname} + ' ' + ${user.getLastname}"></td>
                        <td class="text-center" th:text="${user.getKey}"></td>
                        <td class="text-center">
                            <a onclick="confirm('Você está deletando um usuário, você tem certeza dessa ação? \n\nClique para confirmar!')"
                               th:href="@{/portal/admin/users/deleted/{id}(id=${user.getID})}" class="btn btn-danger">
                                <i class="ti-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="public/nav" xmlns:th="http://www.w3.org/1999/xhtml"></div>