<div th:replace="public/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div class="pcoded-content" style="padding: 10px;" xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="padding: 15px;">
        <div class="card h-100">
            <div class="card-body">
                <form method="post" action="/portal/admin/users/add">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mb-3 text-primary">Dados cadastrais:</h6>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 col-md-6">
                            <label for="firstname">Nome da empresa</label>
                            <input type="text" class="form-control" name="firstname" id="firstname">
                        </div>

                        <div class="form-group col-12 col-md-6">
                            <label for="lastname">Chave</label>
                            <input type="text" class="form-control" name="lastname" id="lastname">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-12 col-md-6">
                            <label for="licensas">Licenças</label>
                            <input type="number" class="form-control" name="licensas" id="licensas">
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="public/nav" xmlns:th="http://www.w3.org/1999/xhtml"></div>