<div th:replace="public/header" xmlns:th="http://www.w3.org/1999/xhtml"> </div>
<div class="pcoded-content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Lista de dispositivos</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="public/nav" xmlns:th="http://www.w3.org/1999/xhtml"></div>